# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\springmvc_study_std\springmvc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
